<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#f50057">

<!-- Facebook Share -->
<meta property="og:url"                content="https://contactolegislativo.com" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="多Sabes que diputado te representa?" />
<meta property="og:description"        content="Contacto Legislativo te permite ubicar a tu diputado y ver su desempe単o de una forma sencilla" />
<meta property="og:image" content="http://contactolegislativo.com/assets/img/contacto_legislativo_banner.png" />

<!-- Twitter Share -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="多Sabes que diputado te representa?"/>
<meta name="twitter:description" content="Contacto Legislativo te permite ubicar a tu diputado y ver su desempe単o de una forma sencilla"/>
<meta name="twitter:site" content="@clegislativomx"/>
<meta name="twitter:image" content="http://contactolegislativo.com/assets/img/contacto_legislativo_banner.png" />
<meta name="twitter:creator" content="@wedevelopmx"/>
<meta name="twitter:domain" content="contactolegislativo.com"/>

<link rel="icon" href="/assets/img/favicon.ico">

<title><%- title %></title>

<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Custom styles for this template -->
<!-- <link href="starter-template.css" rel="stylesheet"> -->
