<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#f50057">
<meta name="robots" content="index,follow" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Language" content="es">
<meta name="language" content="ES" /><!-- Old -->

<% include ./social %>

<link rel="icon" href="/assets/img/favicon.ico">
<link rel="alternate" href="https://contactolegislativo.com" hreflang="es-mx"/> 
<title><%- title %> | Contacto Legislativo</title>

<%#
  <link rel="stylesheet" type="text/css" href="/assets/css/deputy.css">
%>
<!-- Above the fold-->
<% include ./deputy_above_the_fold %>
