<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <meta name="keywords" content="Legislador, Diputado Federal, Cámara de diputados, México, Legislatura LXIII" />
    <meta name="description" content="Contacto Legislativo es un observatorio político cuyo objetivo es proveer de información sobre el desempeño de los integrantes de cámara de senadores y cámara de diputados. Nuestro portal provee un análisis estadístico de asistencias, iniciativas y votaciones de los integrantes del congreso de la unión.">
  </head>

  <body>
    <nav class="stack-fix navbar navbar-expand-lg navbar-dark navbar-transparent">
      <% include ./partials/nav %>
    </nav>

    <div class="d-card">
      <div class="header hero">
        <h1 class="h2">Asistencias</h1>
      </div>
    </div>

    <div class="attendance">

    </div><!-- /.container -->
    <link rel="stylesheet" href="/assets/css/datatables/css/jquery.dataTables.min.css">
    <script async src="/assets/js/attendance.bundle.js"></script>
  </body>
</html>
