<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="https:////cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  </head>

  <body>
    <nav class="stack-fix navbar navbar-expand-lg navbar-dark navbar-transparent">
      <% include ./partials/nav %>
    </nav>

    <div class="d-card">
      <div class="header hero">
        <h1 class="h2">Asistencias</h1>
      </div>
    </div>

    <div class="attendance">

    </div><!-- /.container -->

    <% include ./partials/foot %>
    <script src="/assets/js/attendance.bundle.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  </body>
</html>
