<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <% include ./partials/lean_nav %>
    </nav>

    <div class="container mt-5">

      <div class="alert alert-danger" role="alert">
        <strong>ERROR:</strong> <%- message %>
      </div>

    </div><!-- /.container -->
    <script async src="/assets/js/utils.bundle.js"></script>
  </body>
</html>
